<div>
  <img src="<%= @code39 %>" />
</div>
<div>
  <img src="<%= @code93 %>" />
</div>
<div>
  <img src="<%= @code128 %>" />
</div>
<div>
  <img src="<%= @itf %>" />
</div>

<div>
  <img src="<%= @ean13 %>" />
</div>
