<div class="top-secret">
	<img src="<%= @stamp %>">
</div>

<h2><%= List.first(@people).city %></h2>

<table class="people-table">
  <tr>
    <th>#</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>E-mail</th>
  </tr>
<%= for person <- @people do %>
  <tr>
    <td><%= person.employee_no %></td>
    <td><%= person.firstname %></td>
    <td><%= person.lastname %></td>
    <td><%= person.phone %></td>
    <td><%= person.email %></td>
  </tr>
<% end %>
</table>
