<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <style><%= @normalize_css %></style>
  <style><%= @paper_css %></style>
  <style>@page {size: <%= @paper_settings %>}</style>
  <%= @report_template %>
</head>
<body class="<%= @paper_settings %>">
  <%= @pages %>
</body>
</html>
